body{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}
.about-top, .about-bottom, header{
    padding: 0 7%;
    overflow: hidden;
}
.half-width{
    width: 47%;
    float: left;
    padding-left: 3%;
}
.about-top .half-width img{
    width: 90%;
}
.about-bottom .half-width img{
    width: 90%;
}
.highlight-color{
    color: #524FD5;
}
.menu ul {
    list-style: none;
    text-align: right;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
    padding: 0 15px;
}
.about-top .about-text{
    padding-top: 100px;
}
.about-top h1{
    font-size: 50px;
    color: #363958;
    text-transform: uppercase;
    line-height: 50px;
    margin: 0 0 13px 0;
}
.about-top h1.highlight-color{
    color: #4a00e0;
}
.about-top p{
    font-size: 16px;
    color: #000;
    padding: 10px 0 30px;
}
a.btn {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: #fff;
    padding: 13px 38px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    border-radius: 100px;
}
.about-bottom .about-text {
    padding-top: 60px;
}
.about-bottom h2{
    font-size: 40px;
    font-weight: 600px;
    text-transform: uppercase;
    line-height: 40px;
    color: #363958;
}
.about-bottom p{
    font-size: 16px;
    padding-bottom: 25px;
}

.projects{
    background-color: #f8f9fc;
    padding: 100px 7%;
    clear: both;
    overflow: hidden;
    margin-top: 50px;
}
.projects h2,
.specializing h2{
    color: #363958;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 50px;
    line-height: 40px;
    margin: 0;
}
.projects h2 span,
.specializing h2 span{
    color:#524FD5;
}

.single-project {
    width: 28%;
    float: left;
    margin-right: 2.5%;
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0,0,0,.3);
}
.single-project img{
    width: 100%;
}
.work-inquiry{
    background-color: #524FD5;;
    background-image: url(../Images/Group_inquiry_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    max-width: 60%;
    margin: 0 auto;
    border-radius: 50px;
    padding: 125px;
    color: #fff;
    margin-top: 80px;
    margin-bottom: 80px;
}
.work-inquiry h1 {
    font-size: 40px;
    text-transform: uppercase;
    line-height: 20px;
    margin: 0;
}
.inquiry-btn{
    text-align: right;
}
.inquiry-btn a.btn{
    /* background: linear-gradient(to right, #c31432, #240b36); */
    background: #fff;
    color: #000;
}
.specializing{
    background-color: #f8f9fc;
    padding: 60px 7%;
    clear: both;
    overflow: hidden;
}
.specializing .half-width{
    width: 39%;
    float: left;
    background-color: #fff;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0,0,0,.3);
    height: 240px;
}
.half-width.expert {
    margin-right: 40px;
}
.half-width.expert ul li {
    list-style: circle;
    font-size: 17px;
    font-weight: 500;
}
.specializing h2{
    text-align: left;
    font-size: 32px;
    padding-bottom: 30px;
}
.speach h4{
    margin: 0;
    font-size: 18px;
    padding-top: 20px;
}
.speach p{
    margin: 0;
    font-size: 16px;
}
.contact{
    padding: 40px 0 50px;
    text-align: center;
}
section.contact p {
    font-size: 20px;
    color: #696871;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}
section.contact h4 {
    margin: 0;
    padding-top: 20px;
    font-size: 30px;
    color: #363958;
}
section.contact ul {
    list-style: none;
}
section.contact ul li{
    display: inline;
}
section.contact ul li img {
    height: 50px;
    width: 50px;
    padding: 0 15px;
}